.question {
    font-weight: 600;
}

.answers {
    margin-bottom: 20px;
}

#description {
    margin: 20px;
    padding: 2px;
    font-size: 18px;
}

#io_ex {
    width: 50% !important;
    -webkit-filter: blur(5px) grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: blur(5px) grayscale(100%);
}

#io_ex:hover {
    -webkit-filter: blur(0px) grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: blur(0px) grayscale(0%);
}

.io {
    width: 100%;
    padding-bottom: 15px;
    height: auto;
}

/* #give_up_gif {
    width: 30% !important
} */