h1 {
    padding-top: 15px;
    padding-bottom: 15px;
}

hr {
    background-color: darkslategray;
}


body {
    font-family: 'Open Sans', sans-serif;
    /* min-width: 1410px; */
}

.col-md-4 {
    background-color: gainsboro;
    background-clip: padding-box;
    border-radius: 15px;
    border: 5px solid transparent;
}

#resize_control_btns {
    background-color: gainsboro;
    width: 100%;
    float: left;
    margin-top: 20px;
    margin-bottom: 5px;
}

#edit_control_btns {
    background-color: gainsboro;
    width: 100%;
    float: left;
    padding-top: 5px;
    margin-bottom: 5px;
}

#output_grid {
    /* padding: 5%; */
    padding-left: 5px;
    padding-bottom: 5px;
}

#evaluation_input {
    padding: 2%;
    /* padding-bottom: 5px; */
}

#toolbar {
    background-color: gainsboro;
    float: left;
    margin-left: 10px;
    width: 100%;
}

label {
    margin-left: 5px;
}

input,
button {
    margin-left: 10px;
}

#resize_btn {
    margin-left: 0;
}

/*Task demonstration*/

.pair_preview {
    height: 200px;
    padding: 0px;
    border-bottom: solid 1px #a1a1a1;
}

.input_preview {
    width: 45%;
    float: left;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    padding-left: 5%;
}

.output_preview {
    width: 45%;
    float: left;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    padding-left: 5%;
}

.arrow {
    height: 80%;
    width: 10%;
    padding: 0px;
    float: left;
    display: flex;
    align-items: center;
}

.text {
    text-align: center;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#modal_bg {
    background-color: black;
    width: 100%;
    min-height: 10000px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#modal {
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 100px;
    width: 500px;
    margin-top: 100px;
}

#modal input {
    margin-left: 70px;
}

.alert {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px;
    text-align: center;
}

#task_preview {
    width: 100%;
}